@import 'tailwindcss';

@font-face {
	font-family: 'MS Mincho';
	src: local('MS Mincho'), local('ＭＳ 明朝'), local('MS PMincho'), local('HGS明朝E'),
		local('Yu Mincho'), local('YuMincho'), local('Times New Roman');
}

@font-face {
	font-family: 'MS Gothic';
	src: local('MS Gothic'), local('ＭＳ ゴシック'), local('MS PGothic'), local('Yu Gothic'),
		local('YuGothic'), local('Meiryo'), local('Hiragino Kaku Gothic ProN');
}

:root {
	--app-serif-font: 'MS Mincho', 'ＭＳ 明朝', 'MS PMincho', 'HGS明朝E', 'Yu Mincho', 'YuMincho',
		times, 'Times New Roman', serif;
	--app-gothic-font: 'MS Gothic', 'ＭＳ ゴシック', 'MS PGothic', 'Yu Gothic', 'YuGothic',
		'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
}

body {
	font-family: var(--app-serif-font);
}

@page {
	size: A4 portrait;
	margin: 0;
}

@media print {
	html,
	body {
		width: 210mm;
		height: 297mm;
		background: #ffffff;
	}
	body {
		margin: 0;
	}
}

.font-ms-mincho {
	font-family: var(--app-serif-font);
}

.font-ms-gothic {
	font-family: var(--app-gothic-font);
}
